**/__pycache__
**/.vscode
.vs/**
**/desktop.ini
**/.ipynb_checkpoints
model_data/**
datasets/**
experiments/**
src/ChamferDistancePytorch/**
src/KNN_CUDA
coma/**
.idea/**
.ipynb_checkpoints/**
outputFolder/**
