**/__pycache__
**/.vscode
.vs/**
**/desktop.ini
**/.ipynb_checkpoints
datasets/**
experiments/**
src/ChamferDistancePytorch/**
src/KNN_CUDA
src/utils/__pycache__
src/vista/__pycache__
src/dataset/__pycache__
src/adversarial/__pycache__
src/models/__pycache__
coma/**
.idea/**
.ipynb_checkpoints/**
outputFolder/**
model_data/**